//BOOTSTRAP DEFAULT BEGINS
$icon-font-path: "/bower_components/sass-bootstrap/fonts/";


@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(51, 51, 51);
    background-color: rgb(227, 232, 237);
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    width: 100%;
    box-shadow: 0px 2px 2px 2px;
    background-color: rgb(42,88,127);
    background: rgb(178,178,178); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(178,178,178,1) 0%, rgba(42,88,127,1) 64%, rgba(5,43,96,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(178,178,178,1)), color-stop(64%,rgba(42,88,127,1)), color-stop(100%,rgba(5,43,96,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(178,178,178,1) 0%,rgba(42,88,127,1) 64%,rgba(5,43,96,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(178,178,178,1) 0%,rgba(42,88,127,1) 64%,rgba(5,43,96,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(178,178,178,1) 0%,rgba(42,88,127,1) 64%,rgba(5,43,96,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(178,178,178,1) 0%,rgba(42,88,127,1) 64%,rgba(5,43,96,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b2b2', endColorstr='#052b60',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

@media screen and (min-width: 768px) {
    .container {
        //background-color: rgb(197, 200, 204);
        max-width: 900px;
        height: 620px;
        border-radius: 8px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    .header {
        //margin-bottom: 10px;
        height: 200px;
        margin-top: 26px;
    }
    
}
//BOOTSTRAP DEFAULT ENDS

h1 {
    color: rgb(79, 112, 141);
    font-weight: 700;
    text-align: center;
}

.welcome {
    font-size: 20px;
}

.logo {
    position: relative;
}

.logo-img {
    width: 440px;
    position: absolute;
    top: 0;
    margin-left: 486px;
}

.tagline {
    font-size: 27px;
    color: white;
    display: inline-flex;
    margin-left: 44px;
}

.user-icon {
    width: 150px;
    margin-left: 130px;
    opacity: 0.7;
    
}

.btn-primary {
    background-color: rgb(79, 112, 141);
}

.btn {
    width: 124px;
    height: 28px;
    border-radius: 4px;
    line-height: 100%;
    box-shadow: 1px 1px 1px rgb(51, 51, 51);
}

.login-button {
    margin-left: 144px;
}

.summary{
    font-size: 20px;
}

.register {
    font-size: 14px;
}

.register-modal-body{
    height: 200px;
}

.login-error-message {
    color: red;
}

.project-pane {
    width: 600px;
    height: 600px;
    border: 1px solid black;
}

.create-new-project-header {
    width: 600px;
    margin: 0 auto;
}
.create-new-project-pane {
    width: 600px;
    margin: 0 auto; 
    padding-top: 28px;
}

.panel-heading  {
    font-size: 20px;
    text-align: center;
}



