//BOOTSTRAP DEFAULT BEGINS
$icon-font-path: "/bower_components/sass-bootstrap/fonts/";


@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(51, 51, 51);
    background-color: rgb(227, 232, 237);
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header, .header-sm {
    width: 100%;
    box-shadow: 0px 1px 1px 1px rgb(70, 71, 73);
    background: rgb(50,118,177); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(50,118,177,1) 0%, rgba(44,62,104,1) 0%, rgba(50,118,177,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(50,118,177,1)), color-stop(0%,rgba(44,62,104,1)), color-stop(100%,rgba(50,118,177,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(50,118,177,1) 0%,rgba(44,62,104,1) 0%,rgba(50,118,177,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(50,118,177,1) 0%,rgba(44,62,104,1) 0%,rgba(50,118,177,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(50,118,177,1) 0%,rgba(44,62,104,1) 0%,rgba(50,118,177,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(50,118,177,1) 0%,rgba(44,62,104,1) 0%,rgba(50,118,177,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3276b1', endColorstr='#3276b1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@media screen and (min-width: 768px) {
    .container {
        //background-color: rgb(197, 200, 204);
        max-width: 900px;
        height: 620px;
        border-radius: 8px;
    }

    /* Remove the padding we set earlier */
    .header, .header-sm,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    .header {
        //margin-bottom: 10px;
        height: 200px;
        margin-top: 26px;
    }
    
}
//BOOTSTRAP DEFAULT ENDS

.header-sm {
    height: 100px;
    margin-top: 26px;
}

.logo-img-sm {
    width: 240px;
    position: absolute;
    top: 0;
    margin-top: 14px;
    margin-left: 600px;  
}

h1 {
    color: rgb(66, 139, 202);
    font-weight: 700;
    text-align: center;
}

.new-project-button {
    margin-top: 40px;
}

.logo {
    position: relative;
}

.logo-img {
    width: 440px;
    position: absolute;
    top: 0;
    margin-left: 486px;
}

.tagline {
    font-size: 27px;
    color: white;
    display: inline-flex;
    margin-left: 44px;
}

.user-icon {
    width: 150px;
    margin-left: 130px;
    opacity: 0.7;
    
}

.btn-primary {
    //background-color: rgb(79, 112, 141);
}

//.btn {
//    width: 124px;
//    height: 28px;
//    border-radius: 4px;
//    line-height: 100%;
//    box-shadow: 1px 1px 1px rgb(51, 51, 51);
//}

.login-button {
    margin-left: 144px;
}

.summary{
    font-size: 20px;
}

.register {
    font-size: 14px;
}

.register-modal-body{
    height: 200px;
}

.login-error-message {
    color: red;
}

.project-pane {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: 2px solid rgb(51,51,51);
    margin: 40px 0 60px 0;
    background-color: rgb(240, 240, 240);
    overflow-y: scroll;
}

.create-new-project-header {
    width: 600px;
    margin: 0 auto;
}
.create-new-project-pane {
    width: 600px;
    margin: 0 auto; 
    padding-top: 28px;
}

.panel-heading  {
    font-size: 20px;
    text-align: center;
}

.project-buttons {
    float: right;
    padding: 8px 4px 0 0;
}

.instructions-body {
    margin: 20px 0; 
}

.project-thumbnails {
    border-bottom: 1px solid black;
    margin: 30px;
}

.welcome {
    margin-top: 24px;
}

.message-board {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: 2px solid rgb(51,51,51);
    margin: 40px 0 60px 0;
    background-color: rgb(240, 240, 240);
    overflow-y: scroll;
}

.message-input {
    margin: 20px 0 20px 0;
}

.message-pane {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    margin: 20px 0 20px 0;

}

.rendered-message {
    font-size: 16px;
    text-align: left;
    border: 1px solid black;
    margin: 8px;
    padding: 6px;
    border-radius: 6px;
}







